{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-details"></div>
{% if request.user.is_authenticated %} 
<h2>Hello {{ user.username }}</h2>
<div class="auth-details-wrapper">
    {% if user.profile_image != None %}
    <img class="prof_image" src="{{ user.profile_image }}" alt="{{ user.username }} profile picture">
    {% endif %}
    <div class="profile">
        <p><span class="bio-heading">Name:</span> {{ user.username }}</p>
        <p><span class="bio-heading">Email:</span> <a href="mailto:{{user.email}}">{{ user.email }}</a></p>
        <p class="bio-heading">Bio: {{ user.bio }}</p>
    </div>
</div>
{% else %}
<div class="error-msg">Sorry, it looks like you are not authorised! Please
    use the links in the Navigation bar to login or create an account.</div>
{% endif %}
</div>
{% endblock %}