{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-details"></div>
<h2>Hello {{ user.username }}</h2>
<div class="auth-details-wrapper">
    {% if user.profile_image != None %}
    <img class="prof_image" src="{{ user.profile_image }}" alt="{{ user.username }} profile picture">
    {% endif %}
    <div>
        <p><span class="bio-heading">Name:</span> {{ user.username }}</p>
        <p><span class="bio-heading">Email:</span> <a href="mailto:{{user.email}}">{{ user.email }}</a></p>
        <p class="bio-heading">Bio: {{ user.bio }}</p>
    </div>
</div>
</div>
{% endblock %}