/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,300;1,400;1,800&display=swap');


body {
    background-color: #fbe9fc;
    font-family: 'Poppins', sans-serif;
    /*background-image: url("/static/images/background2.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 14px;
}

header {
    font-style: italic;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: none;
}

h1 {
    text-decoration: none;
    color: blueviolet;
    font-size: 4rem;
    margin: 0;
    text-shadow: black 1px 1px 2px;
}

h2 {
    font-size:xx-large;
    font-weight: bold;
    text-shadow: grey 1px 1px 2px; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: oblique;
    font-weight:  bold;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover.funky-link {
    color: blue;
    text-decoration: underline;
}

p { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-style: bold;
    color:#332100;
}

:hover.button{
    background-color: darkgray;
}

.button {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    white-space: nowrap;
    margin: 2px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    cursor: default;
    border-radius: 4px;
    border: 1px solid black;
    width: 100px;
}

input.button {
    font-family: 'Poppins', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}

label {
    font-size: 36px;
    font-style: oblique;
    padding-top: 62px;   
    text-shadow: red  1px 1px 2px; 
    
}

#id_title, #id_category, #id_image, #id_content {
    border-radius: 4px;
    padding: 8px;
}

form#id_create_story {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
}

form#id_create_story p {
    display: grid;
}

#id_form_login {
    text-align: center;
}

.search {
    display: block;
    padding-right: 4rem;
}

.right-aligned {
    text-align: end;
}

.centered {
    text-align: center;
}

/* styling the 'add-new-story page*/
#add-story-style {
    border: solid blueviolet 5px;
    border-radius: 6px;
    box-sizing: 20px;
    box-shadow: 5px 5px 5px 5px gray;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 25px;
    background-color:#fde0b4;
}

/* styling the 'Comments' section*/
.comment-style {
    color: blueviolet;
    font-weight: bold;
}

/* styling the 'create-account' page*/
.account-container {
    border: solid blueviolet 5px;
    border-radius: 6px;
    box-sizing: 20px;
    box-shadow: 5px 5px 5px 5px gray;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 25px;
    background-color:#fde0b4;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
}

.account-container label {
    display: block;
    text-align: left;
}

.account-container p {
    text-align: left;
}

.account-container input {
    width: 100%;
    padding: 8px;
}

.account-container textarea {
    width: 100%;
}

/* styling the user profile page*/
.auth-details-wrapper {
    display: flex;
    align-items: stretch;
}

.profile {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.profile p {
    text-align: left;
    padding-block: 1px ;
}

.prof_image{
    width: 500px;
    height: 500px;
}

/*footer style*/
.hero-logo {
    color: #FFA300;
}

.logo {
    padding-right: 6px;
    padding-left: 6px;
    width: 40px;
}

.shecodeslogo {
    height: 24px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.shecodeslogo:hover {
    height: 28px;
    margin: 0;
}

footer p.small-text a {
    vertical-align: text-top;
}

.small-text {
    font-size: small;
}

footer a:hover {
    background-color: inherit;
    color: inherit;
}

footer a img {
    margin: 5px;
}

footer a:hover img.logo {
    width: 50px;
    margin: 0;
}

.footer {
    padding-top: 100px;
}