{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="page" class="centered">
    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>{{ story.author }}</h4>
        <div id="story-content">
            {% if story.image != None %}
            <img src="{{ story.image }}" />
            {% else %}
            <img src="{% static '/news/images/placeholder-5.jpg' %}" />
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
        <p class="auth-pub">Published: {{ story.pub_date|date:'d M y' }}</p>
        {% if story.author == request.user %}
        <a class="button" href="/news/edit-story/{{ story.pk }}">Edit</a>
        {% endif %}

        {% if story.author == request.user %}
        <a class="button" href="/news/delete-story/{{ story.pk }}">Delete</a>
        {% endif %}

    </div>
    {% if request.user.is_authenticated and story.author != request.user%}
    <div class="centered">
        <h2>Leave a comment</h2>

        <div>
            <form method="POST" action="{% url 'news:addComment' story.pk %}">
                {% csrf_token %}
                {{ form.as_p}}
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {% endif %}

    <div>
        <h2>Comments</h2>
        {% if story.comment_set != None %}
        {% for comment in story.comment_set.all %}
        <div> <span>{{ comment.author.username }}</span> <span>{{ comment.date }}</span></div>
        <div>{{ comment.content }}</div>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}